$primary: #0f2745;
$secondary: #0C1F37;
$danger: #9D102E;

$light: #CFD4DA;
$dark-25: #9FA8B3;
$dark-75: #6F7D8F;
$dark: #3F526A;

$btn-padding-y: 14px;
$btn-padding-x: 13px;

$font-family-sans-serif: 'Open Sans';